In [1]:
import pandas as pd

In [2]:
f500 = pd.read_csv("f500.csv")

In [3]:
f500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [4]:
f500.shape

(500, 17)

In [5]:
f500.shape[0]

500

In [6]:
f500.shape[1]

17

In [7]:
f500.dtypes

company                      object
rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [8]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   company                   500 non-null    object
 1   rank                      500 non-null    int64
 2   revenues                  500 non-null    int64
 3   revenue_change            498 non-null    float64
 4   profits                   499 non-null    float64
 5   assets                    500 non-null    int64
 6   profit_change             436 non-null    float64
 7   ceo                       500 non-null    object
 8   industry                  500 non-null    object
 9   sector                    500 non-null    object
 10  previous_rank             500 non-null    int64
 11  country                   500 non-null    object
 12  hq_location               500 non-null    object
 13  website                   500 non-null    object
 14  years_on_global_500_list  500 non-null    int64
 15  employees                 500 non-null    int64
 16  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(7)
memory usage: 66.5+ KB

In [9]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [10]:
f500.head(10)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [11]:
f500.tail()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [12]:
f500.tail(2)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [13]:
f500.columns

Index(['company', 'rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [14]:
f500['company']

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

In [15]:
for i in f500['company']:
    print(i)

Walmart
State Grid
Sinopec Group
China National Petroleum
Toyota Motor
Volkswagen
Royal Dutch Shell
Berkshire Hathaway
Apple
Exxon Mobil
McKesson
BP
UnitedHealth Group
CVS Health
Samsung Electronics
Glencore
Daimler
General Motors
AT&T
EXOR Group
Ford Motor
Industrial & Commercial Bank of China
AmerisourceBergen
China State Construction Engineering
AXA
Amazon.com
Hon Hai Precision Industry
China Construction Bank
Honda Motor
Total
General Electric
Verizon
Japan Post Holdings
Allianz
Cardinal Health
Costco
Walgreens Boots Alliance
Agricultural Bank of China
Ping An Insurance
Kroger
SAIC Motor
Bank of China
BNP Paribas
Nissan Motor
Chevron
Fannie Mae
China Mobile Communications
J.P. Morgan Chase
Legal & General Group
Nippon Telegraph & Telephone
China Life Insurance
BMW Group
Express Scripts Holding
Trafigura Group
China Railway Engineering
Prudential
Assicurazioni Generali
China Railway Construction
Home Depot
Boeing
Wells Fargo
Bank of America Corp.
Gazprom
Nestle
Alphabet
Siemens
Carrefour
Dongfeng Motor
Microsoft
Anthem
Hitachi
SoftBank Group
Banco Santander
Citigroup
Petrobras
Robert Bosch
Deutsche Telekom
Hyundai Motor
Comcast
Credit Agricole
IBM
Electricite de France
Huawei Investment & Holding
Enel
State Farm Insurance Cos.
China Resources National
AEON
HSBC Holdings
Pacific Construction Group
Aviva
Uniper
Tesco
Engie
Airbus Group
SK Holdings
Phillips 66
Johnson & Johnson
Procter & Gamble
U.S. Postal Service
China Southern Power Grid
China South Industries Group
Lukoil
China Communications Construction
Groupe BPCE
Sony
Valero Energy
Target
Societe Generale
Munich Re Group
Panasonic
Nippon Life Insurance
Zurich Insurance Group
Itau Unibanco Holding
Peopleâ€™s Insurance Co. of China
China National Offshore Oil
Marubeni
Deutsche Post DHL Group
Freddie Mac
China Post Group
China Minmetals
Lloyds Banking Group
Loweâ€™s
Metro
Dell Technologies
China FAW Group
BASF
JXTG Holdings
MetLife
Tewoo Group
Aetna
PepsiCo
ENI
China Telecommunications
Archer Daniels Midland
China North Industries Group
COFCO
Beijing Automotive Group
UPS
Anbang Insurance Group
Peugeot
Albertsons Cos.
Dai-ichi Life Holdings
Sinochem Group
Intel
Mitsubishi
Auchan Holding
Aegon
Prudential Financial
Vodafone Group
Unilever
Banco do Brasil
Pemex
Telefonica
Banco Bradesco
United Technologies
ArcelorMittal
Renault
Rosneft Oil
Shandong Weiqiao Pioneering Group
Marathon Petroleum
Disney
Aviation Industry Corp. of China
ING Group
Mitsubishi UFJ Financial Group
Royal Ahold Delhaize
Humana
Seven & I Holdings
Indian Oil
Roche Group
HNA Group
Bank of Communications
CITIC Group
Pfizer
Bayer
AIG
America Movil
Korea Electric Power
Lockheed Martin
Sysco
FedEx
Hewlett Packard Enterprise
Louis Dreyfus Company
Amer International Group
Petronas
Tokyo Electric Power
Novartis
Cisco Systems
MS&AD Insurance Group Holdings
Deutsche Bank
PowerChina
JBS
PTT
Tokio Marine Holdings
HP
RWE
Dow Chemical
Finatis
Wesfarmers
Sinopharm
CNP Assurances
LG Electronics
Sumitomo Mitsui Financial Group
Reliance Industries
China Baowu Steel Group
Noble Group
Anheuser-Busch InBev
Statoil
POSCO
Kia Motors
Orange
ChemChina
Deutsche Bahn
Continental
HCA Holdings
Itochu
China Merchants Bank
State Bank of India
Woolworths
KDDI
Swiss Re
HBIS Group
CEFC China Energy
Banco Bilbao Vizcaya Argentaria
ThyssenKrupp
Saint-Gobain
Lenovo Group
Vinci
Nippon Steel & Sumitomo Metal
Bunge
Industrial Bank
E.ON
Sberbank
China Shipbuilding Industry
Christian Dior
Coca-Cola
Denso
Fujitsu
Guangzhou Automobile Industry Group
Wilmar International
Sanofi
China United Network Communications
Sumitomo Life Insurance
New York Life Insurance
Centene
Shanghai Pudong Development Bank
Hanwha
Tata Motors
Aluminum Corp. of China
Mitsui
Manulife Financial
China Minsheng Banking
China Pacific Insurance (Group)
American Airlines Group
Nationwide
Merck
Cigna
Delta Air Lines
Best Buy
China National Building Material Group
Honeywell International
JD.com
Mitsubishi Electric
ZF Friedrichshafen
Caterpillar
Liberty Mutual Insurance Group
Power Corp. of Canada
Morgan Stanley
Hengli Group
SSE
Massachusetts Mutual Life Insurance
Goldman Sachs Group
Johnson Controls International
GlaxoSmithKline
China Huaneng Group
Energy Transfer Equity
Shenhua Group
Greenland Holding Group
TIAA
Jardine Matheson
Oracle
ACS
Sumitomo
Tyson Foods
Barclays
Poste Italiane
Centrica
United Continental Holdings
Allstate
Pertamina
Magna International
UBS Group
Intesa Sanpaolo
George Weston
Mitsubishi Heavy Industries
Rajesh Exports
Pegatron
Meiji Yasuda Life Insurance
Maersk Group
SABIC
Bouygues
Volvo
Talanx
Lufthansa Group
Royal Bank of Canada
Accenture
Repsol
China Vanke
Publix Super Markets
Edeka Zentrale
J. Sainsbury
Alimentation Couche-Tard
China Energy Engineering Group
Hyundai Heavy Industries
ABB
American Express
Rio Tinto Group
SNCF Mobilites
CRRC
CK Hutchison Holdings
Jizhong Energy Group
TJX
Xinxing Cathay International Group
Hyundai Mobis
Aisin Seiki
Rite Aid
Shaanxi Yanchang Petroleum (Group)
DZ Bank
UniCredit Group
China Everbright Group
Daiwa House Industry
Nike
Iberdrola
Commonwealth Bank of Australia
Sinomach
Fresenius
China Aerospace Science & Technology
Shaanxi Coal & Chemical Industry
China Evergrande Group
Jiangxi Copper
Sompo Holdings
China Poly Group
Chubb
Zhejiang Geely Holding Group
Exelon
General Dynamics
BT Group
Canon
Wuchan Zhongda Group
Mitsubishi Chemical Holdings
BHP Billiton
Toronto-Dominion Bank
Subaru
Bridgestone
Credit Suisse Group
China Aerospace Science & Industry
JFE Holdings
Mizuho Financial Group
Gilead Sciences
CHS
Bharat Petroleum
3M
China Electronics
CRH
China State Shipbuilding
Jiangsu Shagang Group
China COSCO Shipping
Mazda Motor
State Power Investment
Taiwan Semiconductor Manufacturing
Vale
Time Warner
Shandong Energy Group
Suzuki Motor
LyondellBasell Industries
Royal Philips
Charter Communications
Medtronic
Northwestern Mutual
Lâ€™Oreal
Dalian Wanda Group
Medipal Holdings
China Huadian
AIA Group
Hindustan Petroleum
Migros Group
Air France-KLM Group
Compass Group
Schlumberger
Kansai Electric Power
Quanta Computer
Westpac Banking
Coop Group
Facebook
Travelers Cos.
Capital One Financial
Twenty-First Century Fox
China Guodian
LafargeHolcim
Schneider Electric
China Electronics Technology Group
USAA
World Fuel Services
Phoenix Pharmahandel
Veolia Environnement
National Australia Bank
Philip Morris International
Deere
East Japan Railway
Achmea
Kraft Heinz
Cathay Life Insurance
Tech Data
Samsung Life Insurance
Avnet
Nokia
Enbridge
Gas Natural Fenosa
Australia & New Zealand Banking Group
LM Ericsson
Sumitomo Electric Industries
Mondelez International
Old Mutual
Idemitsu Kosan
Bank of Nova Scotia
Macyâ€™s
Mapfre Group
La Poste
Inditex
AbbVie
Datong Coal Mine Group
Lotte Shopping
Standard Life
Shanxi Coking Coal Group
Adecco Group
International Airlines Group
McDonaldâ€™s
NEC
DuPont
China National Aviation Fuel Group
Northrop Grumman
Brookfield Asset Management
Mercantil Servicios Financieros
SAP
ConocoPhillips
Yangquan Coal Industry Group
Danone
Samsung C&T
Shanxi LuAn Mining Group
Raytheon
Midea Group
Chubu Electric Power
BAE Systems
Andeavor
China Datang
Flex
Arrow Electronics
Heraeus Holding
Compal Electronics
Yango Financial Holding
Qualcomm
Alfresa Holdings
Alibaba Group Holding
Koc Holding
Progressive
Duke Energy
Michelin
Country Garden Holdings
Heineken Holding
Enterprise Products Partners
AstraZeneca
Amgen
Rabobank Group
Altice
Onex
US Foods Holding
Shanxi Jincheng Anthracite Coal Mining Group
Randstad Holding
Tencent Holdings
LG Display
Emirates Group
U.S. Bancorp
H & M Hennes & Mauritz
Aflac
Sodexo
Suning Commerce Group
GS Caltex
Ultrapar Holdings
Xiamen C&D
Sears Holdings
China General Technology
National Grid
Dollar General
Telecom Italia
Xiamen ITG Holding Group
Xinjiang Guanghui Industry Investment
Teva Pharmaceutical Industries
New China Life Insurance
Wm. Morrison Supermarkets
TUI
AutoNation

In [16]:
f500['company'].head()

0                     Walmart
1                  State Grid
2               Sinopec Group
3    China National Petroleum
4                Toyota Motor
Name: company, dtype: object

In [17]:
f500.head(2)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [18]:
f500[["company","ceo","industry","rank"]]

,company,ceo,industry,rank
0,Walmart,C. Douglas McMillon,General Merchandisers,1
1,State Grid,Kou Wei,Utilities,2
2,Sinopec Group,Wang Yupu,Petroleum Refining,3
3,China National Petroleum,Zhang Jianhua,Petroleum Refining,4
4,Toyota Motor,Akio Toyoda,Motor Vehicles and Parts,5
...,...,...,...,...
495,Teva Pharmaceutical Industries,Yitzhak Peterburg,Pharmaceuticals,496
496,New China Life Insurance,Wan Feng,"Insurance: Life, Health (stock)",497
497,Wm. Morrison Supermarkets,David T. Potts,Food and Drug Stores,498
498,TUI,Friedrich Joussen,Travel Services,499
499,AutoNation,Michael J. Jackson,Specialty Retailers,500

In [19]:
f500[["company","ceo","industry","rank"]].tail()

,company,ceo,industry,rank
495,Teva Pharmaceutical Industries,Yitzhak Peterburg,Pharmaceuticals,496
496,New China Life Insurance,Wan Feng,"Insurance: Life, Health (stock)",497
497,Wm. Morrison Supermarkets,David T. Potts,Food and Drug Stores,498
498,TUI,Friedrich Joussen,Travel Services,499
499,AutoNation,Michael J. Jackson,Specialty Retailers,500

1. iloc: will use when we have integer indexing
2. loc: will use when we have label indexing

In [20]:
f500

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [34]:
f500.iloc[0]

company                                    Walmart
rank                                             1
revenues                                    485873
revenue_change                                 0.8
profits                                    13643.0
assets                                      198825
profit_change                                 -7.2
ceo                            C. Douglas McMillon
industry                     General Merchandisers
sector                                   Retailing
previous_rank                                    1
country                                        USA
hq_location                        Bentonville, AR
website                     http://www.walmart.com
years_on_global_500_list                        23
employees                                  2300000
total_stockholder_equity                     77798
Name: 0, dtype: object

In [22]:
f500.iloc[0,-4]

'http://www.walmart.com'

In [23]:
f500.iloc[0,-1]

77798

In [24]:
f500.iloc[5:10]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
5,Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,Berkshire Hathaway,8,223604,6.1,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,Apple,9,215639,-7.7,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,Exxon Mobil,10,205004,-16.7,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [25]:
f500.iloc[5:10,4]

5     5937.3
6     4575.0
7    24074.0
8    45687.0
9     7840.0
Name: profits, dtype: float64

In [26]:
f500.iloc[5:10,:4]

              company  rank  revenues  revenue_change
5          Volkswagen     6    240264             1.5
6   Royal Dutch Shell     7    240033           -11.8
7  Berkshire Hathaway     8    223604             6.1
8               Apple     9    215639            -7.7
9         Exxon Mobil    10    205004           -16.7

In [27]:
f500.iloc[5:10,4:]

,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
6,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646
7,24074.0,620854,NaN,Warren E. Buffett,Insurance: Property and Casualty (Stock),Financials,11,USA,"Omaha, NE",http://www.berkshirehathaway.com,21,367700,283001
8,45687.0,321686,-14.4,Timothy D. Cook,"Computers, Office Equipment",Technology,9,USA,"Cupertino, CA",http://www.apple.com,15,116000,128249
9,7840.0,330314,-51.5,Darren W. Woods,Petroleum Refining,Energy,6,USA,"Irving, TX",http://www.exxonmobil.com,23,72700,167325

In [28]:
f500.iloc[5]

company                                    Volkswagen
rank                                                6
revenues                                       240264
revenue_change                                    1.5
profits                                        5937.3
assets                                         432116
profit_change                                     NaN
ceo                                   Matthias Muller
industry                     Motor Vehicles and Parts
sector                         Motor Vehicles & Parts
previous_rank                                       7
country                                       Germany
hq_location                        Wolfsburg, Germany
website                     http://www.volkswagen.com
years_on_global_500_list                           23
employees                                      626715
total_stockholder_equity                        97753
Name: 5, dtype: object

In [29]:
f500.iloc[5,8]

'Motor Vehicles and Parts'

In [30]:
f500.iloc[[5,8],:3]

      company  rank  revenues
5  Volkswagen     6    240264
8       Apple     9    215639

In [31]:
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [32]:
f500.iloc[2:5,[0,7]]

                    company            ceo
2             Sinopec Group      Wang Yupu
3  China National Petroleum  Zhang Jianhua
4              Toyota Motor    Akio Toyoda