In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
who = pd.read_csv("who.csv")

In [17]:
who

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,China,1,1,0,0
1,2020-01-05,China,0,1,0,0
2,2020-01-06,China,3,4,0,0
3,2020-01-07,China,0,4,0,0
4,2020-01-08,China,0,4,0,0
...,...,...,...,...,...,...
31871,2020-07-31,Panama,1046,63269,25,1374
31872,2020-07-31,Timor-Leste,0,24,0,0
31873,2020-07-31,Guatemala,1221,48826,32,1867
31874,2020-07-31,Saint Vincent and the Grenadines,0,52,0,0
31875,2020-07-31,Democratic Republic of the Congo,79,9009,2,214

In [18]:
who["Date_reported"] = pd.to_datetime(who["Date_reported"])

In [19]:
who.dtypes

Date_reported        datetime64[ns]
Country                      object
New_cases                     int64
Cumulative_cases              int64
New_deaths                    int64
Cumulative_deaths             int64
dtype: object

In [20]:
who[["Date_reported","Cumulative_cases"]]

      Date_reported  Cumulative_cases
0        2020-01-04                 1
1        2020-01-05                 1
2        2020-01-06                 4
3        2020-01-07                 4
4        2020-01-08                 4
...             ...               ...
31871    2020-07-31             63269
31872    2020-07-31                24
31873    2020-07-31             48826
31874    2020-07-31                52
31875    2020-07-31              9009

[31876 rows x 2 columns]

In [21]:
who["Country"].unique()

array(['China', 'Thailand', 'Japan', 'Republic of Korea',
       'United States of America', 'Singapore', 'Nepal', 'France',
       'Viet Nam', 'Malaysia', 'Australia', 'Canada', 'Sri Lanka',
       'Cambodia', 'Germany', 'Italy', 'Finland', 'United Arab Emirates',
       'India', 'Philippines', 'Sweden', 'Russian Federation',
       'The United Kingdom', 'Spain', 'Belgium', 'Other', 'Egypt',
       'Iran (Islamic Republic of)', 'Israel', 'Lebanon', 'Oman',
       'Bahrain', 'Switzerland', 'Iraq', 'Afghanistan', 'Kuwait',
       'Algeria', 'Austria', 'Romania', 'Norway', 'North Macedonia',
       'Croatia', 'Georgia', 'Pakistan', 'Brazil', 'Denmark', 'Greece',
       'Estonia', 'Nigeria', 'Lithuania', 'New Zealand', 'Mexico',
       'Netherlands', 'San Marino', 'Ecuador', 'Monaco', 'Qatar',
       'Azerbaijan', 'Belarus', 'Armenia', 'Czechia', 'Ireland',
       'Iceland', 'Luxembourg', 'Morocco', 'Saint BarthÃ©lemy', 'Portugal',
       'Tunisia', 'Saint Martin', 'Indonesia', 'Jordan',
       'Dominican Republic', 'Latvia', 'Saudi Arabia', 'Senegal',
       'Andorra', 'Argentina', 'Ukraine', 'Gibraltar', 'Chile', 'Poland',
       'Slovenia', 'South Africa', 'Bosnia and Herzegovina',
       'occupied Palestinian territory, including east Jerusalem',
       'Liechtenstein', 'Hungary', 'Faroe Islands', 'Holy See', 'Serbia',
       'Cameroon', 'Slovakia', 'Colombia', 'Bhutan', 'Martinique', 'Togo',
       'French Guiana', 'Maldives', 'Malta', 'Peru',
       'Republic of Moldova', 'Costa Rica', 'Paraguay', 'Bangladesh',
       'Bulgaria', 'Albania', 'Guernsey', 'Cyprus', 'Panama',
       'Brunei Darussalam', 'Mongolia', 'Jamaica', 'Turkey',
       'Democratic Republic of the Congo', 'Burkina Faso',
       'Bolivia (Plurinational State of)', 'CÃ´te dâ€™Ivoire', 'Jersey',
       'French Polynesia', 'Honduras', 'Guyana',
       'Saint Vincent and the Grenadines', 'Cayman Islands', 'Cuba',
       'United States Virgin Islands', 'CuraÃ§ao', 'RÃ©union',
       'Antigua and Barbuda', 'Trinidad and Tobago', 'Kosovo[1]',
       'Central African Republic', 'Ghana', 'Guadeloupe', 'Kazakhstan',
       'Gabon', 'Guinea', 'Kenya', 'Sudan', 'Namibia', 'Puerto Rico',
       'Venezuela (Bolivarian Republic of)', 'Mayotte',
       'Equatorial Guinea', 'Eswatini', 'Ethiopia', 'Mauritania',
       'Uruguay', 'Congo', 'Seychelles', 'Suriname', 'Guatemala',
       'Saint Lucia', 'Rwanda', 'Somalia', 'Uzbekistan',
       'United Republic of Tanzania', 'Benin', 'Guam', 'Aruba', 'Liberia',
       'Montenegro', 'Bahamas', 'Sint Maarten', 'Bermuda', 'Montserrat',
       'Djibouti', 'Mauritius', 'Kyrgyzstan', 'Gambia', 'Barbados',
       'Greenland', 'Zambia', 'Nicaragua', 'New Caledonia', 'Niger',
       'Chad', 'Fiji', 'El Salvador', 'Haiti', 'Cabo Verde',
       'Papua New Guinea', 'Zimbabwe', 'Isle of Man', 'Timor-Leste',
       'Uganda', 'Eritrea', 'Angola', 'Madagascar', 'Grenada',
       'Syrian Arab Republic', 'Mozambique', 'Dominica', 'Belize',
       "Lao People's Democratic Republic", 'Myanmar',
       'Turks and Caicos Islands', 'Libya', 'British Virgin Islands',
       'Anguilla', 'Mali', 'Guinea-Bissau', 'Saint Kitts and Nevis',
       'Northern Mariana Islands (Commonwealth of the)', 'Sierra Leone',
       'Burundi', 'Botswana', 'Malawi',
       'Bonaire, Sint Eustatius and Saba', 'Falkland Islands (Malvinas)',
       'Sao Tome and Principe', 'South Sudan',
       'Saint Pierre and Miquelon', 'Yemen', 'Comoros', 'Tajikistan',
       'Lesotho'], dtype=object)

In [22]:
who[who["Country"] == "Pakistan"]

,Date_reported,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
898,2020-02-26,Pakistan,6,6,0,0
910,2020-02-27,Pakistan,0,6,0,0
995,2020-02-28,Pakistan,0,6,0,0
1022,2020-02-29,Pakistan,2,8,0,0
1113,2020-03-01,Pakistan,0,8,0,0
...,...,...,...,...,...,...
30882,2020-07-27,Pakistan,1176,274289,20,5842
31051,2020-07-28,Pakistan,936,275225,23,5865
31392,2020-07-29,Pakistan,1063,276288,27,5892
31586,2020-07-30,Pakistan,1114,277402,32,5924
31831,2020-07-31,Pakistan,903,278305,27,5951

In [23]:
 bol = who["Country"] == "Pakistan"

In [24]:
Pakistan = who[bol]

In [25]:
sns.histplot(Pakistan["Date_reported"],Pakistan["Cumulative_cases"])

TypeError: histplot() takes from 0 to 1 positional arguments but 2 were given